body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    color: var(--black-color);

    overflow: overlay;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 40px 0;


}

.container {
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @include for-tablet-up {
        min-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include for-desktop-up {
        min-width: 1280px;
    }
}