body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    color: var(--white-color);

    overflow: overlay;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 40px 0;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}