:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --grey-color: #f7f7f7;
    --orange-color: #ff6b08;

    --active-element: #ff001b;
    --shadow-btn-color: rgba(255, 107, 1, 0.6);
    --active-btn-color: #ff6b01;
    --copyright-text-color: #545454;

    --bg-black-color: rgba(0, 0, 0, 0.56);
}