<section class="header__section section">
  <div class="header__container container">
    <nav class="site-nav">
      <a href="./index.html" class="logo__link">
        <svg class="logo__icon" height="24" width="24" aria-label="Logo">
          <use href="#"></use>
        </svg>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <form action="">
      <input type="text" />
      <button type="submit">Search</button>
    </form>
  </div>
</section>
