<div class="header__wrapper">
  <section class="header__section section">
    <div class="header__container container">
      <nav class="site-nav">
        <a href="./index.html" class="logo__link">
          <svg class="logo__icon" width="24" height="24" aria-label="Logo">
            <use href="./images/film.svg#logo"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">HOME</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">MY LIBRARY</a>
          </li>
        </ul>
      </nav>

      <form class="search__form">
        <input class="search__input" type="text" placeholder="Movie search" />
        <button class="search__btn" type="submit">
          <svg class="search__icon" width="12" height="12">
            <use href="./images/search2.svg#search"></use>
          </svg>
        </button>
      </form>
      <p class="search__error-input">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
  </section>
</div>
