<section class="main__section section">
  <div class="main__container container">
    <ul class="card__list">
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle1.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle2.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle3.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle4.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle5.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
      <li class="card__item">
        <a class="card__link" href="#">
          <img class="card__img" src="./images/Rectangle1.png" alt="" />
          <h2 class="card__title">
            <span class="card__title--black">GREYHOUND</span>
            Drama, Action | 2020
          </h2>
        </a>
      </li>
    </ul>
    <ul class="pagination__list">
      <li class="pagination__item pagination__item--arrow">
        <svg
          class="arrow__icon"
          width="16"
          height="16"
          aria-label="Pagination arrow left"
        >
          <use href="#"></use>
        </svg>
      </li>
      <li class="pagination__item pagination__item--current-page">1</li>
      <li class="pagination__item pagination__item--arrow">
        <svg
          class="arrow__icon"
          width="16"
          height="16"
          aria-label="Pagination arrow right"
        >
          <use href="#"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
