.site-nav--mylibrary {
    margin-bottom: 60px;

    @include for-tablet-up {
        margin-bottom: 40px;
    }
}

// header btn
.header__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__btn {
    width: 130px;
    padding: 13px 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    border-radius: 5px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    background-color: transparent;

    &:not(:last-child) {
        margin-right: 20px;

        @include for-tablet-up {
            margin-right: 32px;
        }

        @include for-desktop-up {
            margin-right: 16px;
        }
    }

    @include for-tablet-up {
        width: 152px;
        padding-left: 46px;
        padding-right: 46px;
    }

    @include for-desktop-up {
        width: 148px;
        padding-left: 42px;
        padding-right: 42px;
    }
}

.header__btn--active {
    border: 1px solid var(--active-btn-color);
    background-color: var(--active-btn-color);
    filter: drop-shadow(0px 8px 43px var(--shadow-btn-color));
}