.header__section {
    height: 230px;
}

.header__wrapper {
    background: url(./../images/abstract-background-with-red-lines-mobile.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__section {
    background-color: var(--bg-black-color);
}

.header__container {}

.site-nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 54px;
}

.logo__link {
    max-width: 24px;
    max-height: 24px;

    stroke: white;

    &:hover,
    &:focus {
        stroke: var(--active-element);
    }
}

.logo__icon {}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: 40px;
    }
}

.nav__link {


    &:hover,
    &:focus {
        border-bottom: 3px solid var(--active-element);
    }
}

.search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 4px;

    border-bottom: 0.5px solid var(--white-color);

    &:hover,
    &:focus-within {
        border-bottom: 0.5px solid var(--active-element);
    }
}

.search__input {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: inherit;

    width: 100%;
}

.search__btn {
    display: flex;
    align-items: center;

    width: 16px;
    height: 16px;

    background-color: transparent;
    stroke: var(--white-color);

    &:hover,
    &:focus {
        stroke: var(--active-element);
    }
}

.search__error-input {
    // display: none;
    font-size: 14px;
    color: var(--active-element);
}